<h2>Por Capital</h2>
<hr>


<div class="row">
  <div class="col">
      <!-- SearchBox -->
      <!-- (onValue)="searchByCapital($event)" -->
      <shared-search-box
        (onDebounce)="searchByCapital($event)"
        [initialValue]="initialValue"
        placeholder="Buscar por capital"></shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
